@tailwind base;
@tailwind components;
@tailwind utilities;

#myNav {
    margin: 0px 0px 10px 0px;
    width:100%;
}

.grid {
    margin: 4px;
    padding: 2px;
}

.modalBody {
    margin: auto;
}

#profileImage {
    border-radius: 50%;
    margin:auto;
}
